@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],input[type='password'],input[type='email'] {
    @apply w-full border my-2 py-2 px-3 rounded-2xl;
}
button {
    @apply bg-gray-300
}
button.primary {
    background-color: '#F53885D';
    @apply bg-primary p-2 w-full text-white rounded-2xl;
}
.app-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    height: 100vh;
  }
  
  .browser {
    display: flex;
    flex-direction: column;
    background: hsl(225,81%,58%);
    /* border-radius: 5px; */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
  }
  
  .tabs {
    flex-shrink: 1;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    padding-top: 10px;
  }
  
  .tab {
    position: relative;
    background: hsl(225,81%,58%);
    min-width: 120px;
    font-size: 14px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: 0.3s ease all;
    overflow: hidden;
    cursor: pointer;
  }
  .tab a {
    display: block;
    padding: 12px 25px;
    color: #e1daf5;
    text-decoration: none;
  }
  
  .tab a.active {
    background: hsl(225,81%,40%);
    color: #eee;
  }
  
  /* .address-bar {
    background: #5533b3;
    padding: 8px;
  }
  
  .address-bar input {
    background: #3a2081;
    color: #eee;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 20px;
    font-size: 18px;
  } */
  
  .viewport {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    background: white;
    flex: 1;
    flex-grow: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  
  .highlight {
    display: block;
    position: absolute;
    height: 80px;
    width: 300px;
    top: -10px;
    left: -100px;
    border-radius: 50%;
    transition: 0.3s ease all;
    opacity: 0.8;
    pointer-events: none;
    background: radial-gradient(rgba(157, 128, 238, 1), rgba(157, 128, 238, 0));
  }